/*
  Prototype de nouveau design du site Reservia
  @author: Berges Julien.
  @version 1.0

  Couleurs #0065FC #DEEBFF #F2F2F2
  */

/* polices du site*/

@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-VariableFont_wght.ttf"),
    url("fonts/Raleway-Italic-VariableFont_wght.ttf");
}

/* Main */

body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0 auto;
}
#container {
  width: 90%;
  margin: auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

/* En-tête */

header {
  display: flex;
  width: 90%;
  margin: auto;
}
#logo {
  margin-left: 0;
  margin-bottom: 0;
  flex: 4;
}

/* Menu header*/

header ul {
  display: flex;
  margin-top: 0;
}
header li {
  margin: 0 0 0 60px;
  padding-top: 30px;
  border-top: 2px solid #ffffff;
}
header li:hover {
  border-top: 2px solid #0065fc;
  color: #0065fc;
}
#sign-in {
  color: #0065fc;
  font-weight: bold;
  margin: 33px 0px 0px 53px;
}

/* style de la barre de recherche */

#search {
  margin-top: 20px;
  margin-bottom: 30px;
}
#search h1 {
  margin-top: 0px;
  font-size: 1.5em;
  margin-bottom: 0;
}
#search p {
  padding: 10px 0 10px 0;
}
#search_bar {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}
#pin {
  display: flex;
  background: #f2f2f2;
  height: 50px;
  width: 50px;
  border-radius: 10px 0 0 10px;
  position: relative;
}
#pin i {
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 1.2em;
}
#search input {
  height: 46px;
  border: #f2f2f2 1px solid;
  outline-color: #0065fc;
}
#search ::placeholder {
  font-weight: bold;
  color: black;
}
#search button {
  background: #0065fc;
  border-radius: 0 10px 10px 0;
  border: none;
  height: 50px;
  width: 110px;
  color: #ffffff;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}
.search_loupe {
  display: none;
}

/* <style des Filtres*/

#filtres {
  display: flex;
  margin-bottom: 40px;
  width: 100%;
  font-weight: bold;
  font-size: 1.1em;
}
#i_filtres {
  display: flex;
  margin-left: 0;
  flex-wrap: wrap;
}
#i_filtres span:nth-child(2) {
  padding: 10px 10px 10px 40px;
  border: solid 2px #f2f2f2;
  border-radius: 50px;
  transition: 0.6s;
}
#i_filtres span:nth-child(2):hover {
  border: solid 12px #deebff;
  background-color: #0065fc;
  color: #ffffff;
}
#filtres i {
  color: #0065fc;
}
#f_eco,
#f_fam,
#f_love,
#f_pets {
  margin-left: 40px;
  position: relative;
}
#f_eco i:nth-child(1) {
  color: #deebff;
}
#f_fam i:nth-child(1) {
  color: #deebff;
}
#f_love i:nth-child(1) {
  color: #deebff;
}
#f_pets i:nth-child(1) {
  color: #deebff;
}
.move-i {
  display: inline;
  position: absolute;
  top: -12px;
  left: -18px;
  font-size: 1.3em;
}

/* info logements dispos */

#info {
  display: flex;
  margin-bottom: 40px;
}
#info i {
  color: #0065fc;
  height: 30px;
  width: 30px;
}
#info span:nth-child(2) {
  justify-content: space-around;
  margin: auto auto auto 10px;
}
#info i:nth-child(1) {
  color: #f2f2f2;
}
/* Section Hébergement */

#art-wrapper {
  display: flex;
}
#principale {
  display: flex;
  flex-wrap: nowrap;
  width: 65%;
  padding: 20px;
  flex-direction: column;
  background: #f2f2f2;
  border-radius: 15px;
  position: relative;
}
#principale h2 {
  margin: 20px 0 10px 20px;
}
.element img {
  height: 100px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.down {
  display: flex;
  flex-direction: column;
}
#more a {
  width: 100%;
  font-weight: bold;
  position: absolute;
  bottom: 35px;
  left: 35px;
  font-size: 1.1em;
}
#articles {
  display: flex;
  flex-direction: column;
}
#article_1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  border-radius: 15px;
}
#article_2 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  border-radius: 15px;
  width: 100%;
}

/* Pour cartes de la section hébergement */

.element {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 5px;
  margin: 15px 15px 15px 15px;
  border-radius: 15px;
  width: 30%;
  box-shadow: 2px 2px 8px gray;
  border-radius: 15px;
  font-size: 0.8em;
}
.element h3,
.element p,
.element div {
  margin: 5px 0 8px 2px;
}

/* Aside les plus populaires */

#populaire {
  display: flex;
  width: 35%;
  flex-direction: column;
  background: #f2f2f2;
  border-radius: 15px;
  margin: 0 0 0 15px;
}
#populaire img {
  height: 130px;
  width: 120px;
  border-radius: 15px 0 0 15px;
  object-fit: cover;
  padding: 5px 0 2px 5px;
}
#pop {
  display: flex;
  width: auto;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 30px 0px 30px;
  font-size: 1.2em;
}
#pop i {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}
#pop_wrapper {
  margin-left: 30px;
  margin-right: 30px;
}

/* Carte de l'aside les plus populaire */

.element-p a {
  display: flex;
  margin: 5px 0px 30px 0px;
  border-radius: 15px;
  width: 100%;
  background: #ffffff;
  box-shadow: 2px 2px 8px gray;
  border-radius: 15px;
  font-size: 0.8em;
}
.element-p h3,
.element-p p {
  padding-left: 15px;
  margin: 5px 0 8px 0;
}
.side {
  position: relative;
}
.star {
  padding-left: 15px;
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 5px;
}

/*star rating*/

.checked {
  color: #0065fc;
}
.unchecked {
  color: lightgray;
}

/* Activités */

#autre {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}
#autre h2 {
  padding-top: 40px;
}
#autre img {
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
#other {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

/* Pour les cartes de la section Activités */

.element-a {
  border-radius: 15px;
  box-shadow: 2px 2px 8px gray;
  font-weight: bold;
  font-size: 0.9em;
  margin: 10px 10px 40px 10px;
}
#act-w-1 {
  width: 25%;
}
#act-w-1 img {
  height: 350px;
  width: 100%;
}
#act-w-2 {
  width: 25%;
}
#act-w-2 img {
  width: 100%;
}
#pom {
  height: 150px;
  width: 25%;
}
#frio {
  height: 110px;
  width: 25%;
}
#act-w-3 {
  width: 25%;
}
#act-w-3 img {
  height: 350px;
  width: 100%;
}
#act-w-4 {
  width: 25%;
}
#act-w-4 img {
  width: 100%;
}
#gard {
  height: 130px;
  width: 25%;
}
#long {
  height: 130px;
  width: 25%;
}
figcaption {
  padding: 15px 0 15px 15px;
}

/* Pied de page*/

footer {
  display: flex;
  background: #f2f2f2;
  margin: 20px 0 0 0;
}
footer h4 {
  padding-left: 40px;
}
footer li {
  padding-top: 10px;
}
footer div {
  margin: 50px 120px 0 0;
  height: 220px;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 980px) {
  body {
    width: 100%;
    padding: 0;
  }
  header {
    flex-wrap: wrap;
    width: 100%;
  }
  #logo {
    margin: 16px 0px 0px 20px;
  }

  /*header mobile*/

  header ul {
    margin: 0;
    padding: 0;
  }
  header nav {
    width: 100%;
    order: 3;
  }
  header li {
    margin: 0;
    text-align: center;
    width: 50%;
    border-top: none;
    border-bottom: 2px solid #f2f2f2;
    padding-bottom: 10px;
  }
  header li:hover {
    border-top: none;
    border-bottom: 2px solid#0065fc;
  }
  #sign-in {
    margin: 33px 20px 0 0px;
  }
  #container {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  /*filtres version mobile*/

  #filtres {
    flex-direction: column;
    pointer-events: none;
    width: 90%;
    margin-left: 20px;
  }

  #f_eco,
  #f_fam,
  #f_love,
  #f_pets {
    margin: 25px 0 10px 15px;
  }

  /*Recherche version mobile*/

  #search h1 {
    margin: 20px 0 0 20px;
  }
  #search p {
    margin: 0 0 0 20px;
  }
  #search_bar {
    margin-top: 20px;
    margin-bottom: 10px;
    justify-content: center;
  }
  #search input {
    border-radius: 0px 10px 10px 0;
    border: #f2f2f2 1px solid;
    outline-color: #0065fc;
  }
  .search_button {
    display: none;
  }
  .search_loupe {
    display: flex;
  }
  #search_loupe i {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.2em;
  }
  #search button {
    position: relative;
    background: #0065fc;
    border-radius: 10px 10px 10px 10px;
    border: none;
    height: 50px;
    width: 50px;
    color: #ffffff;
    font-size: 16px;
    outline: none;
    cursor: pointer;
  }

  /*Logements dispos version mobile*/

  #info {
    margin-left: 13px;
  }

  /*hébergement version mobile*/

  #art-wrapper {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: 100%;
  }
  #principale {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #ffffff;
  }
  #principale h2 {
    margin: 30px 0 10px 16px;
  }
  #more a {
    margin: 20px;
  }
  .element {
    width: 90%;
  }
  #article_1 {
    flex-direction: column;
    flex-wrap: wrap;
  }
  #article_2 {
    flex-direction: column;
    flex-wrap: wrap;
  }
  #more a {
    bottom: -49px;
    left: -4px;
    width: initial;
  }

  /*Aside populaire version mobile*/

  #populaire {
    width: 100%;
    margin: 0;
    border-radius: initial;
  }
  #populaire h4 {
    font-size: 1.5em;
  }

  /*Section Activités version mobile*/

  #autre {
    flex-direction: column;
    margin: 0;
    align-items: center;
  }
  #autre h2 {
    width: 90%;
    padding-top: 60px;
  }
  #other {
    align-items: center;
    flex-direction: column;
  }
  #act-w-1,
  #act-w-2,
  #act-w-3,
  #act-w-4 {
    width: 100%;
  }
  .element-a {
    width: 90%;
    margin: 20px auto;
  }
  #autre img {
    height: 150px;
  }
  /* Footer */

  footer {
    flex-direction: column;
    width: 100%;
  }
  footer div {
    margin: 20px 0;
    height: initial;
  }
}
