/* Couleurs #0065FC #DEEBFF #F2F2F2*/
/* polices */

@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-VariableFont_wght.ttf"),
    url("fonts/Raleway-Italic-VariableFont_wght.ttf");
}

/* Main */

body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  margin-left: 50px;
  margin-right: 50px;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

/* En-tête */
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  background: #ffffff;
  max-width: 1000px;
  min-width: 50%;
}
header figure {
  height: 40px;
}

/* Menu */
nav ul {
  display: flex;
  justify-content: right;
}

nav li {
  margin: 0 0 0 60px;
  padding-top: 30px;
  border-top: 2px solid #ffffff;
}
nav li:hover {
  margin: 0 0 0 60px;
  border-top: 2px solid #0065fc;
  padding-top: 30px;
  color: #0065fc;
}
nav li:nth-child(3) {
  color: #0065fc;
  font-weight: bold;
}
nav li:nth-child(3):hover {
  color: #0065fc;
  font-weight: bold;
  border-top: 2px solid #ffffff;
}

/* Recherche */

#search {
  margin-top: 60px;
  margin-bottom: 70px;
  height: 100px;
}
#search h1 {
  height: 10px;
  margin-bottom: 50px;
}
#search p {
  margin-top: 20px;
  height: 5px;
}
#search_bar {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}
#pin {
  display: flex;
  background: #f2f2f2;
  height: 40px;
  width: 40px;
  border-radius: 10px 0 0 10px;
}
#pin i {
  padding: 11px 10px 10px 14px;
}
#search input {
  height: 40px;
  border: none;
  outline-color: #0065fc;
}
#search ::-webkit-input-placeholder {
  font-weight: bold;
  color: black;
}
#search button {
  background: #0065fc;
  border-radius: 0 10px 10px 0;
  border: none;
  height: 40px;
  width: 110px;
  color: #ffffff;
  font-size: 16px;
  outline: none;
}
/*FILTRES*/

#filtres {
  display: flex;
  margin-bottom: 50px;
  font-weight: bold;
}
#i_filtres {
  display: flex;
  margin-left: 50px;
}
#filtres i {
  color: #0065fc;
}
#f_eco {
  margin-left: 40px;
}
#f_fam {
  margin-left: 40px;
}
#f_love {
  margin-left: 40px;
}
#f_pets {
  margin-left: 40px;
}
/*info places*/
#info {
  display: flex;
}
#info i {
  border: gray solid 1px;
  border-radius: 100%;
  color: #0065fc;
  height: 30px;
  width: 30px;
}
#info span {
  margin-left: 30px;
}
section {
  display: flex;
  justify-content: space-around;
}
article {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  padding: 20px;
  background: #f2f2f2;
  border-radius: 20px;
  margin: 20px;
}

article img {
  height: 160px;
  width: 200px;
}
#article_1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
}
#article_1 .element {
  background: #ffffff;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
}
#article_2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
}
#article_2 .element {
  background: #ffffff;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
}
#articles img {
  border-radius: 20px 20px 0 0;
}

/* les plus populaires aside */
#pop {
  display: flex;
  flex-direction: row;
}
#pop_wrapper img {
  display: flex;
}
aside img {
  height: 160px;
  width: 200px;
}
/*star rating*/
.checked {
  color: #0065fc;
}
.unchecked {
  color: lightgray;
}
/* Activités */
#other {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#autre img {
  height: 160px;
  width: 200px;
}
/* Pied de page*/
footer {
  display: flex;
  justify-content: space-around;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 1024px) {
  h1 {
    color: red;
  }
  nav ul {
    flex-direction: column;
  }
  nav li {
    border: none;
  }
}
