/* Couleurs #0065FC #DEEBFF #F2F2F2*/
/* polices */

@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-VariableFont_wght.ttf"),
    url("fonts/Raleway-Italic-VariableFont_wght.ttf");
}

/* Main */

body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0 auto;
}
#container {
  width: 90%;
  margin: auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

/* En-tête */
header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
#logo {
  margin-left: 0;
  margin-bottom: 0;
}

/* Menu header*/
header ul {
  display: flex;
  margin-left: 50px;
  margin-top: 0;
}
header li {
  margin: 0 0 0 60px;
  padding-top: 30px;
  border-top: 2px solid #ffffff;
}
header li:hover {
  margin: 0 0 0 60px;
  border-top: 2px solid #0065fc;
  padding-top: 30px;
  color: #0065fc;
}
header li:nth-child(3) {
  color: #0065fc;
  font-weight: bold;
}
header li:nth-child(3):hover {
  color: #0065fc;
  font-weight: bold;
  border-top: 2px solid #ffffff;
}

/* Recherche */

#search {
  margin-top: 20px;
  margin-bottom: 30px;
}
#search h1 {
  margin-top: 0px;
  font-size: 1.5em;
  margin-bottom: 0;
}
#search p {
  padding: 10px 0 10px 0;
}
#search_bar {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}
#pin {
  display: flex;
  background: #f2f2f2;
  height: 40px;
  width: 40px;
  border-radius: 10px 0 0 10px;
}
#pin i {
  padding: 11px 10px 10px 14px;
}
#search input {
  height: 40px;
  border: none;
  outline-color: #0065fc;
}
#search ::placeholder {
  font-weight: bold;
  color: black;
}
#search button {
  background: #0065fc;
  border-radius: 0 10px 10px 0;
  border: none;
  height: 40px;
  width: 110px;
  color: #ffffff;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}
.search_loop {
  display: none;
}
/*FILTRES*/

#filtres {
  display: flex;
  margin-bottom: 40px;
  width: 100%;
  font-weight: bold;
  font-size: 1.1em;
}
#i_filtres {
  display: flex;
  margin-left: 0;
  flex-wrap: wrap;
}
#i_filtres span:nth-child(2) {
  padding: 5px 10px 5px 30px;
  border: solid 2px #f2f2f2;
  border-radius: 50px;
  transition: 0.6s;
}
#i_filtres span:nth-child(2):hover {
  border: solid 12px #deebff;
  background-color: #0065fc;
  color: #ffffff;
}
#filtres i {
  color: #0065fc;
}
#f_eco,
#f_fam,
#f_love,
#f_pets {
  margin-left: 40px;
  position: relative;
}
#f_eco i:nth-child(1) {
  color: #deebff;
}
#f_fam i:nth-child(1) {
  color: #deebff;
}
#f_love i:nth-child(1) {
  color: #deebff;
}
#f_pets i:nth-child(1) {
  color: #deebff;
}
.move-i {
  display: inline;
  position: absolute;
  top: -7px;
  left: -14px;
}

/* info places */
#info {
  display: flex;
  margin-bottom: 40px;
}
#info i {
  color: #0065fc;
  height: 30px;
  width: 30px;
}
#info span:nth-child(2) {
  justify-content: space-around;
  margin: auto auto auto 10px;
}
#info i:nth-child(1) {
  color: #f2f2f2;
}
/* Hébergement */
#art-wrapper {
  display: flex;
}
#principale {
  display: flex;
  flex-wrap: nowrap;
  width: 65%;
  padding: 20px;
  flex-direction: column;
  background: #f2f2f2;
  border-radius: 15px;
  align-self: flex-start;
}
#principale h2 {
  margin: 20px 0 10px 20px;
}
.element img {
  height: 100px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
#more a {
  width: 100%;
  font-weight: bold;
  margin: 50px 0 20px 20px;
  padding-bottom: 10px;
  font-size: 1.1em;
}
#articles {
  display: flex;
  flex-direction: column;
}
#article_1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  border-radius: 15px;
}
#article_2 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  border-radius: 15px;
  width: 100%;
}
.element {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 5px;
  margin: 15px 15px 15px 15px;
  border-radius: 15px;
  width: 30%;
  box-shadow: 2px 2px 8px gray;
  border-radius: 15px;
  font-size: 0.8em;
}
.element h3,
p {
  padding-left: 15px;
  margin: 5px 0 8px 0;
}
.element div {
  padding-left: 15px;
  margin: 5px 0 8px 0;
}
/* les plus populaires */
#populaire {
  display: flex;
  width: 30%;
  flex-direction: column;
  background: #f2f2f2;
  border-radius: 15px;
  margin: 0 0 0 15px;
}
#populaire img {
  height: 100px;
  width: 100px;
  border-radius: 15px 0 0 15px;
  object-fit: cover;
  padding: 5px 0 2px 5px;
}
#pop {
  display: flex;
  width: auto;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 40px 10px 40px;
}
#pop i {
  padding-top: 22px;
}
#pop_wrapper {
  margin-left: 30px;
  margin-right: 30px;
}
.element-p {
  display: flex;
  margin: 5px 0px 30px 0px;
  border-radius: 15px;
  width: 100%;
  background: #ffffff;
  box-shadow: 2px 2px 8px gray;
  border-radius: 15px;
  font-size: 0.7em;
}
.element-p h3,
p,
.star {
  padding-left: 15px;
  margin: 5px 0 8px 0;
}
/*star rating*/
.checked {
  color: #0065fc;
}
.unchecked {
  color: lightgray;
}
/* Activités */
#autre {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}
#autre h2 {
  padding-top: 40px;
}
#autre img {
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
#other {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}
.element-a {
  border-radius: 15px;
  box-shadow: 2px 2px 8px gray;
  font-weight: bold;
  font-size: 0.9em;
  margin: 10px 10px 40px 10px;
}
#act-w-1 {
  width: 25%;
}
#act-w-1 img {
  height: 350px;
  width: 100%;
}
#act-w-2 {
  width: 25%;
}
#act-w-2 img {
  width: 100%;
}
#pom {
  height: 150px;
  width: 25%;
}
#frio {
  height: 110px;
  width: 25%;
}
#act-w-3 {
  width: 25%;
}
#act-w-3 img {
  height: 350px;
  width: 100%;
}
#act-w-4 {
  width: 25%;
}
#act-w-4 img {
  width: 100%;
}
#gard {
  height: 130px;
  width: 25%;
}
#long {
  height: 130px;
  width: 25%;
}
figcaption {
  padding: 15px 0 15px 15px;
}

/* Pied de page*/
footer {
  display: flex;
  background: #f2f2f2;
  margin: 20px 0 0 0;
}
footer h4 {
  padding-left: 40px;
}
footer li {
  padding-top: 10px;
}
footer div {
  margin: 50px 120px 0 0;
  height: 220px;
}
/*MEDIA QUERIES*/

@media screen and (max-width: 1024px) {
  h1 {
    color: red;
  }
  header {
    display: none;
  }
  .search_button {
    display: none;
  }
}
